
.ReactModal__Overlay {
    background: rgba(0, 0, 0, 0.4) !important; /* Dark overlay for focus */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
}


.ReactModal__Content {
    width: 100%;
    max-width: 28px;
    background: #fff;
    border: none;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}


.ReactModal__Overlay--after-close {
    opacity: 0;
}

@media (max-width: 480px) {
    .ReactModal__Content {
        width: 90%;
        max-width: 90%;
        padding: 1.5rem;
    }
}
